body,
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper > * {
  padding: 0 10vw;
}

/* Header */
header {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

header ul {
  display: flex;
}

.push-right {
  margin-left: auto;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
