:root {
  --side-padding: 14vw;
  --dark-blue: #1f2937;
  --secondary-text-color: #e5e7eb;
  --header-logo-color: #f9faf8;
  --btn-color: #3882f6;
}

body,
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
ul,
h2 {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper > * {
  padding: 0 var(--side-padding);
}

header {
  background-color: var(--dark-blue);
}

.logo {
  font-size: 24px;
  color: var(--header-logo-color);
}

header ul {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.push-right {
  margin-left: auto;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
}

header ul li a,
.hero-content > p {
  font-size: 18px;
  color: var(--secondary-text-color);
}

a:hover {
  text-decoration: underline;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  background: var(--dark-blue);
  padding: 96px var(--side-padding);
  gap: 3em;
}

.hero-wrapper > * {
  flex: 1;
}

.hero-wrapper a {
  color: var(--btn-color);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-content button {
  padding: 0.5em 2em;
  background-color: var(--btn-color);
  color: var(--header-logo-color);
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
}

.hero-heading {
  font-size: 48px;
  font-weight: 900;
  color: var(--header-logo-color);
}

img {
  min-width: 0;
  max-width: 100%;
  object-fit: scale-down;
}

.card-heading {
  text-align: center;
}

.card-wrapper {
  display: flex;
  text-align: center;
  gap: 2em;
  padding: 0 5em;
}

.card {
  flex: 1;
}

.card-img-wrapper {
  position: relative;
  width: 100%;
}

.card-img-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card-img-wrapper img {
  border: 10px solid var(--btn-color);
  border-radius: 10%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}
